head
  meta(charset="utf-8")
  
  // https://css-tricks.com/probably-use-initial-scale1/
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Starter Pack - #{title}

  link(href="lib/reset-css/reset.css", rel="stylesheet", type="text/css")
  link(href="styles/style.css", rel="stylesheet", type="text/css")
