doctype html
html
  - var title = 'Index'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
    
    section#index
      img(src="assets/images/underconstruction.gif", alt="Under Construction")
    
    include ./includes/footer.jade
