doctype html
html
  - var title = '<%= name %>'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
    
    section#<%= name %>
      h1 <%= name %>
      img(src="assets/images/underconstruction.gif", alt="Under Construction")
    
    include ./includes/footer.jade
    
    script(src="scripts/app.js")
